/*
FUNCIONES PRIMARIAS PARA LA WEB
*/

$primario: #ea008b;
$secundario: #11b8b2;
$terciario: #bdd52f;
$color-texto:#551e10;
$font-family-titulo:'Merienda One', cursive; 
$font-family-text: 'ABeeZee', sans-serif;


// CUERPO DE LA WEB
body{
    font-family: $font-family-text;
    font-weight: 300;
    font-size:16px;
    color:$color-texto;
}

h1, h2, h3, h4, h5 {
    font-family: $font-family-titulo;
}

p{
    font-weight: 300;
    line-height: 2rem;
    font-size: 1.1rem;
}

.separador:before{
    content: '';
    display: block;
    width: 100%;
    height: 170px;
    margin: 0 auto;
    background-image: url(../img/dividers/divider_4-1.png);
    background-repeat: no-repeat;
    background-position: center center;
}


.separador-2:before{
    content: '';
    display: block;
    width: 100%;
    height: 300px;
    margin: 0 auto;
    background-image: url(../img/dividers/devider_heart.png);
    background-repeat: no-repeat;
    background-position: center center;
}

.separador-3:before{
    content: '';
    display: block;
    width: 100%;
    height: 45px;
    background-image: url(../img/dividers/divider_7.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 25%;
}


@media (min-width:720px){
}

@media (min-width:960px){
}

@media (min-width:1300px){

}






// HEADER DE LA WEB
header .franja-logo{
    z-index: 99;
    position: relative;
    background-color: rgb(247, 247, 247);
}

header .mask-header{
    mask-image: url(../img/svg/shape_menu_1.svg);
    mask-position: bottom center;
    mask-repeat: no-repeat;
    mask-size: 100%;
}


header .img-logo{
    height: 180px;
}

header #nav_principal a{
    font-family: $font-family-titulo;
    font-size: 1rem;
}


@media (min-width:720px){
    header #nav_principal a{
        font-size: 1rem;
    }
}

@media (min-width:960px){
    header #nav_principal a{
        font-size: 0.9rem;
    }
}

@media (min-width:1300px){
    header #nav_principal a{
        font-size: 1rem;
    }
}


header .nav-link{
    color: $primario;
}

header .nav-link:hover{
    color:$secundario;
    border-bottom: 2px solid $secundario;
}

header .nav-link.active{
    color:$secundario;
    border-bottom: none;
}

header .nav-link.active:before{
    content: "o";
    color:$primario;
    font-size: 0.7em;
    padding: 0 0.20em;
}


header .social a span{
    color:$secundario;
    font-size: 2rem;
}


// CAROUSEL DE LA WEB

.carousel{
    margin-top: -20px;
}

.carousel-item img {
    background-color: #079e8a;
    margin-top: 0px;
    display: block;
    width: 100%;
    height: 180px;
  }


  @media (min-width:720px){
    .carousel-item img {
        width: 100%;
        height: 300px;
    }
}

@media (min-width:960px){
    .carousel-item img {
        width: 100%;
        height: 450px;
    }
}

@media (min-width:1300px){
    .carousel-item img {
        width: 100%;
        height: 750px;
    }

}

// SECCION CAROUSEL
.carousel{
}

.mask-fondo{
    mask-image: url(../img/svg/shape_menu_1.svg);
    mask-position: bottom center;
    mask-repeat: no-repeat;
    mask-size: cover;
}

  // SECCION DE E3SPECIALIDADES

  .bg-especialidad{
      background-image: url(../img/fondos/bg_med.jpeg);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      width: 100%;
      height: auto;
      margin-top: -80px;

  }

  .card{
      background-color: transparent;
      border: none;

      img{
          width: 50%;
          height: auto;
          margin: auto;
      }
  }

  
  @media (min-width:720px){
}

@media (min-width:960px){
    .card img{
        width: 80%;
    }
}

@media (min-width:1300px){

}
  

// PROCESO MARAVILLOSO

.bg-proceso{
    background-image: url(../img/fondos/fondo-2.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 800px;
    position:relative;
    z-index: 2;
    margin-top: -30px;
}


.bg-proceso::after {
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(2, 146, 110, 0.635);
    z-index:-1;
  }

.mask-proceso {
    mask-image: url(../img/svg/style_1_1.svg);
    mask-position: top;
    mask-size: cover;
    mask-repeat: no-repeat;
}


@media (min-width:720px){
    .bg-proceso{
        height: 700px;
    }

}

@media (min-width:960px){
    
}

@media (min-width:1300px){
    

}


section.bg-proceso h1,
section.bg-proceso p{
    color:white;
}

// NUESTRAS CREACIONES

.bg-creaciones{
/*     background-image: url(../img/fondos/fondo-2.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; */
    width: 100%;
    height: auto;
    position:relative;
    z-index: 2;
    margin-top: -100px;
}


.bg-creaciones::after {
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(255, 255, 255, 1);
    z-index:-1;
  }


.mask-creaciones{
    mask-image: url(../img/svg/style_9.svg);
    mask-position: top;
    mask-size: cover;
    mask-repeat: no-repeat;

}


.filtermenu {
	text-align: center;

	 li {
		border: 1px solid $primario;
		padding: 4px 12px;
		display: inline-block;
		border-radius: 6px;
		cursor: pointer;
		 
		 &.active {
             background:$secundario;
             color:white;
		 }
	}
}

// CONOZCANOS MEJOR

.bg-conozcanos{
    background-image: url(../img/fondos/cupcakes-2.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 1450px;
    position:relative;
    z-index: 2;
    margin-top: 0px;

    a{
        margin-bottom: 100m px;
    }
}


.mask-conozcanos {
    mask-image: url(../img/svg/style_1_1.svg);
    mask-position: top;
    mask-size: cover;
    mask-repeat: no-repeat;
}


.text-conozcanos{
    padding-top: 70px;
}


.text-conozcanos h4,
.text-conozcanos p{
    color:white;
}

img.card-img-conocer{
    width: 25%;
    height: auto;
    margin: 0 auto;
}


@media (min-width:720px){
    .bg-conozcanos{
        height: 950px;
    }

    img.card-img-conocer{
    }

}

@media (min-width:960px){
    .bg-conozcanos{
        height: 600px;
    }
    
}

@media (min-width:1300px){
    

}

// NUESTROS PRECIOS

.bg-precios{
    background-color:white;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: auto;
    position:relative;
    z-index: 5;
    margin-top: -65px;
}


.mask-precios {
    mask-image: url(../img/svg/style_9.svg);
    mask-position: top;
    mask-size: cover;
    mask-repeat: no-repeat;
}

.img-precio img{
    background-color: $secundario;
    border: 8px solid white;
}

.tit-precio{
    background-color: $secundario;
    height: 150px;
    margin-top: -60px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    h3{
        color:white;
        font-size: 1.3rem;
        text-align: center;
        padding-top:75px;
    }
}



.contorno-precio{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-left: 3px solid $secundario;
    border-right: 3px solid $secundario;
    border-bottom: 3px solid $secundario;

    p.linea-abajo {
        border-bottom: 1px solid $secundario;
        width: 80%;
        margin: auto;
    }
}

.btn-precio{
    border:2px solid $primario;
    border-radius: 10px;
    width: 60%;
    margin: auto;
    background-color: $primario;

    h5{
        color:white;
    }

}

.contorno-precio button{
    margin-top: 20px;
    margin-bottom: 20px;
}



@media (min-width:720px){
}

@media (min-width:960px){
}

@media (min-width:1300px){
}



// APLICABLE A TODAS LAS HOJAS
// SECCION FOOTER

.bg-footer{
    background-image: url(../img/fondos/cupckes-1.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: auto;
    position:relative;
    z-index: 2;
    margin-top: 0px;
}


.bg-footer::after {
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(20, 6, 2, 0.7);
    z-index:-1;
  }


.mask-footer {
    mask-image: url(../img/svg/style_1_1.svg);
    mask-position: top;
    mask-size: cover;
    mask-repeat: no-repeat;
}

.row-social{
    margin-top: 50px;
    color:white;

}

.social-footer a span{
    color:white;
    font-size: 2rem;
}

.row-logo{
    margin-top: 50px;
    background-color: rgba(255, 255, 255, 0.5);
}

.row-buscar{
    margin-top: 50px;
    
}


@media (min-width:720px){
    .row-social{
        margin-top: 100px;
    }

    .social-footer a span{
        font-size: 2rem;
    }

    .row-logo{
        margin-top: 80px;
    }

    .row-buscar{
        margin-top: 150px;
    }
    
}

@media (min-width:960px){
    .row-social{
        margin-top: 100px;
    }

    .social-footer a span{
        font-size: 2rem;
    }

    .row-logo{
        margin-top: 60px;
    }

    .row-buscar{
        margin-top: 170px;
        
        .form-inline{
        display: inline-flex;
        }
    }
  
}

@media (min-width:1300px){
    .row-social{
        margin-top: 100px;
    }

    .social-footer a span{
        font-size: 3rem;
    }

    .row-buscar{
        margin-top: 190px;
    }
}

footer .barra-footer{
    background-color: rgba(14, 3, 1, 0.9);
    margin-right: -15px;
    margin-left: -15px;
}

footer div,
footer div a{
    text-align: center;
    color:white;
}



/* variable */

/* scss-file */

*, body *{
    z-index: 10;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

#floating-action-button{
  position: fixed;
  bottom: 1vh;
  right: 1vw;
  min-width: 50px;
  min-height: 50px;
  max-width: 60px;
  max-height: 60px;
  width: 5vw;
  height: 5vw;
  border-radius: 100%;
  
  cursor: pointer;
  
  /* center-flex */
  display: flex;
  align-items: center;
  justify-content: center;
    
  /* material shadow */
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);  
  &:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  i{
    font-size: 2rem;
    color: $color-texto;
  }
}

/* DO NOT COPY */
/* 
.just-for-codepen{
    color: #212121;
    background: linear-gradient(to bottom, #f3e5f5 0%,#f3e5f5 10%,#e1bee7 10%,#e1bee7 20%,#ce93d8 20%,#ce93d8 30%,#ba68c8 30%,#ba68c8 40%,#ab47bc 40%,#ab47bc 50%,#9c27b0 50%,#9c27b0 60%,#8e24aa 60%,#8e24aa 70%,#7b1fa2 70%,#7b1fa2 80%,#6a1b9a 80%,#6a1b9a 90%,#4a148c 90%,#4a148c 100%);
    height: 100vh;
    padding: 20vw 20vh;
    a{
    color: #212121;
    text-decoration: none;
        &:hover{
            color: #304FFE;
            text-decoration: underline;
        }
    }
} */






// NUEVA PAGINA
// PAGINA DE NOSOTROS

// SECCION DE IMAGEN DE HEADER NO EN FRONT-PAGE
.bg-fondo{
    background-image: url(../img/fondo-1.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 450px;
    margin-top: -20px;

    h2{
        padding-top: 250px;
        font-size: 3rem;
    }
}



