/*
FUNCIONES PRIMARIAS PARA LA WEB
*/
body {
  font-family: "ABeeZee", sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #303030;
}

h1, h2, h3, h4, h5 {
  font-family: "Merienda One", cursive;
}

p {
  font-weight: 300;
  line-height: 2rem;
  font-size: 1.1rem;
}

.separador:before {
  content: '';
  display: block;
  width: 100%;
  height: 170px;
  margin: 0 auto;
  background-image: url(../img/dividers/divider_4-1.png);
  background-repeat: no-repeat;
  background-position: center center;
}

.separador-2:before {
  content: '';
  display: block;
  width: 100%;
  height: 300px;
  margin: 0 auto;
  background-image: url(../img/dividers/devider_heart.png);
  background-repeat: no-repeat;
  background-position: center center;
}

header .franja-logo {
  z-index: 99;
  position: relative;
  background-color: #f7f7f7;
}

header .mask-header {
  -webkit-mask-image: url(../img/svg/shape_menu_1.svg);
          mask-image: url(../img/svg/shape_menu_1.svg);
  -webkit-mask-position: bottom center;
          mask-position: bottom center;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
          mask-size: 100%;
}

header .img-logo {
  height: 180px;
}

header #nav_principal a {
  font-family: "Merienda One", cursive;
  font-size: 1rem;
}

@media (min-width: 720px) {
  header #nav_principal a {
    font-size: 1rem;
  }
}
@media (min-width: 960px) {
  header #nav_principal a {
    font-size: 0.9rem;
  }
}
@media (min-width: 1300px) {
  header #nav_principal a {
    font-size: 1rem;
  }
}
header .nav-link {
  color: #ff91a4;
}

header .nav-link:hover {
  color: #5fcac7;
  border-bottom: 2px solid #5fcac7;
}

header .nav-link.active {
  color: #5fcac7;
  border-bottom: none;
}

header .nav-link.active:before {
  content: "o";
  color: #ff91a4;
  font-size: 0.7em;
  padding: 0 0.20em;
}

header .social a span {
  color: #5fcac7;
  font-size: 2rem;
}

.carousel {
  margin-top: -20px;
}

.carousel-item img {
  background-color: #079e8a;
  margin-top: 0px;
  display: block;
  width: 100%;
  height: 180px;
}

@media (min-width: 720px) {
  .carousel-item img {
    width: 100%;
    height: 300px;
  }
}
@media (min-width: 960px) {
  .carousel-item img {
    width: 100%;
    height: 450px;
  }
}
@media (min-width: 1300px) {
  .carousel-item img {
    width: 100%;
    height: 750px;
  }
}
.bg-especialidad {
  background-image: url(../img/fondos/bg_med.jpeg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: auto;
}

.card {
  background-color: transparent;
  border: none;
}

.bg-proceso {
  background-image: url(../img/fondos/fondo-2.jpeg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 800px;
  position: relative;
  z-index: 2;
  margin-top: -30px;
}

.bg-proceso::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(2, 146, 110, 0.635);
  z-index: -1;
}

.bg-proceso {
  background-image: url(../img/fondos/fondo-2.jpeg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 900px;
  position: relative;
  z-index: 2;
  margin-top: -30px;
}

.mask-proceso {
  -webkit-mask-image: url(../img/svg/style_1_1.svg);
          mask-image: url(../img/svg/style_1_1.svg);
  -webkit-mask-position: top;
          mask-position: top;
  -webkit-mask-size: cover;
          mask-size: cover;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
}

@media (min-width: 720px) {
  .bg-proceso {
    height: 700px;
  }
}
section.bg-proceso h1,
section.bg-proceso p {
  color: white;
}

.bg-creaciones {
  /*     background-image: url(../img/fondos/fondo-2.jpeg);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover; */
  width: 100%;
  height: auto;
  position: relative;
  z-index: 2;
  margin-top: -100px;
}

.bg-creaciones::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  z-index: -1;
}

.mask-creaciones {
  -webkit-mask-image: url(../img/svg/style_9.svg);
          mask-image: url(../img/svg/style_9.svg);
  -webkit-mask-position: top;
          mask-position: top;
  -webkit-mask-size: cover;
          mask-size: cover;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
}

.filtermenu {
  text-align: center;
}
.filtermenu li {
  border: 1px solid #ff91a4;
  padding: 4px 12px;
  display: inline-block;
  border-radius: 6px;
  cursor: pointer;
}
.filtermenu li.active {
  background: #5fcac7;
  color: white;
}

.bg-conozcanos {
  background-image: url(../img/fondos/cupcakes-2.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 1500px;
  position: relative;
  z-index: 2;
  margin-top: -40px;
}

.mask-conozcanos {
  -webkit-mask-image: url(../img/svg/style_1_1.svg);
          mask-image: url(../img/svg/style_1_1.svg);
  -webkit-mask-position: top;
          mask-position: top;
  -webkit-mask-size: cover;
          mask-size: cover;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
}

.text-conozcanos {
  padding-top: 60px;
}

.text-conozcanos h4,
.text-conozcanos p {
  color: white;
}

.card-img-conocer {
  width: 25%;
  height: auto;
  margin: 0 auto;
}

@media (min-width: 720px) {
  .bg-conozcanos {
    height: 1000px;
  }

  .card-img-conocer {
    width: 50%;
    height: auto;
    margin: 0 auto;
  }
}
@media (min-width: 960px) {
  .bg-conozcanos {
    height: 800px;
  }
}
.img-precio img {
  background-color: #5fcac7;
  border: 8px solid white;
}

.tit-precio {
  background-color: #5fcac7;
  height: 150px;
  margin-top: -60px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.tit-precio h3 {
  color: white;
  font-size: 1.3rem;
  text-align: center;
  padding-top: 75px;
}

.contorno-precio {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-left: 1px solid #5fcac7;
  border-right: 1px solid #5fcac7;
  border-bottom: 1px solid #5fcac7;
}
.contorno-precio p.linea-abajo {
  border-bottom: 1px solid #5fcac7;
  width: 80%;
  margin: auto;
}

.btn-precio {
  border-radius: 10px;
  width: 60%;
  margin: auto;
  background-color: #ff91a4;
}
.btn-precio h5 {
  color: white;
}

.btn-order {
  border: 2px solid #303030;
  border-radius: 10px;
  width: 80%;
  margin: auto;
}
.btn-order a {
  font-family: "Merienda One", cursive;
  color: #303030;
}

.btn-order .btn::hover {
  background-color: #5fcac7 !important;
}

/*# sourceMappingURL=style.css.map */